/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    color-scheme: dark light;
    font-family:
    
    /* system-ui,
    'Segoe UI', */
    var(--base-font),
    Calibre,
    poppins,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    -moz-text-size-adjust: none;
    /* -webkit-text-size-adjust: none; */
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    scroll-behavior:smooth;
}

/* Set core body defaults */
body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    /* font-size: calc(15px + 0.390625vw); */
    line-height: 1.5;
    min-height: 100vh;
}


/* ul[role='list'],
ol[role='list'] {
    list-style: none;
} */

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

/* FROM REMEDY CSS */
/* h1 { font-size: 2rem; } */
h1 {
    font-size: clamp(2.75rem, 4.5vw, 4rem);
    font-weight: 600;
    /* margin-block: clamp(1.75rem, 3vw, 3rem); */
    margin-block: 0.83em;
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-block: 0.83em;
}

h3 {
    /* font-size: 1.17rem; */
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 500;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}
p{
    font-size: 1rem;
    margin-block: 1em;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

 h1 {
    /* font-size: 2em; */
    font-size: clamp(2.75rem, 4.5vw, 4rem);
  }
  h2 {
    font-size: clamp(1.75rem, 3.5vw, 3rem);
    font-weight: 500;
  }
  h3s {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 500;
  }
  
/* FROM REMEDY CSS */


/* Balance text wrapping on headings */
h1,
h2,
h3,
h4, 
h5,
h6{
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}


/* Anything that has been anchored to should have extra scroll margin */
/* :target {
    scroll-margin-block: 5ex;
  } */

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--anchorcolor);
}



/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

small {
    font-size: 80%;
}

table {
    text-indent: 0;
    /* 1 */
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;    /* 1 */
    font-size: 100%;    /* 1 */
    line-height: 1.15;    /* 1 */
    margin: 0;    /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}
/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}
/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}
