.four0four-content a{
    color:white;
    background-color: #0d0ded;
    padding: 10px;
    border-radius:25px;
}
section.four0four-section {
    text-align:center;
}
.four0four-main-image {
    max-width: 100%;
    padding-block: 2%;
}
.four0four-content p{
    margin-bottom:20px;
}