/* .navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    display: flex;
    justify-content:center;
}
.navbar-nav li{
    padding:8px;
    padding:5px 10px;
} */
