.plan-pricing-page-main-div {
    display: flex;
    justify-content: center;
    gap: 8%;
}
h1.plan-pricing-page-heading, p.plan-pricing-page-content {
    text-align: center;
}
@media (max-width:800px) {
    .plan-pricing-page-main-div {
        flex-direction: column;
    }
    
}
.plan-pricing-page-box{
    padding: 3%;
    margin: 3%;
    border: 1px #d5d5d5 solid;
    border-radius:10px;
    text-align: center;
}
.plan-pricing-page-box .card-footer {
    margin-top: 44px;
}
.plans-pricing-welcome-image{
    background-image: url(/assets/images/for-pricing.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: top center;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}