
/* Roots For Color and Fonts */

:root {
    /* Colors: */
    --maincolor: lightblue;
    --secondarycolor: rgb(55, 135, 254);
    --tertiarycolor: #30AAD7;
    --anchorcolor: cornflowerblue;
    /* Fonts */
    --mainfont: 'poppins';
    /* --mainFont: 'Calibre'; */
    /* --secondaryFont: "calluna"; */
    /* --barlowFont: 'Barlow Condensed', sans-serif; */
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea,
option {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0;
    font-weight: 300;
    font-family: var(--mainfont);
    color: var(--black);
} */



/* h1,
.h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.56px;
    color: var(--whiteClr);
    font-weight: 500;
}

h2,
.h2 {
    font-size: 35px;
    letter-spacing: -0.35px;
    line-height: 35px;
    color: var(--whiteClr);
    font-weight: 500;
} */

/* h1 span,
.h1 span, */
/* h2 span, */
/* .h2 span {
    font-family: var(--secondaryFont);
    font-style: italic;
    color: var(--sky-blue);
    line-height: 0;
} */

/* h6,
.h6 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: var(--whiteClr);
} */

/* root */


/* header */


/* header */

/* footer style */

.copyright {
    text-align: center;
}
.footer-logo-img {
    max-width: 15rem;
}
.disclaimer {
    text-align: center;
}
/* footer style */

/* home page start */
.home-page-welcome-image img{
    /* height: 70vh; */
    text-align: center;
    max-width: 100%;
}

.home-page-welcome-name {
    margin-block: 0.5rem;
    font-size: 8rem;
    font-weight: 500 ;
}
.home-page-welcome-quote{
    margin-top: 10px;
    margin-bottom: 44px;
}
.work-with-you {
    text-transform: uppercase;
    margin: 0 0 28px;
}
.home-page-welcome-learn-more {
    text-transform: uppercase;
}
p.home-page-intro {
        width: min(96vw, 30rem);
    }
p.home-page-work-with-you {
    text-transform: uppercase;
}
.home-page-welcome-main-div{
    display: flex;
    align-items: flex-start;
}
.home-page-welcome-main-div > *{
    /* flex: 1; */
    flex-basis: 0%;
    flex-grow: 1;
}
@media (max-width:800px) {
    .home-page-welcome-main-div{
        flex-direction: column;
    }
    .home-page-welcome-name {
        font-size: 65px;
    }
    .home-page-welcome-image{
        display: none;
    }
}
/* about section */

h2.home-page-about-heading {
    font-size: 40px;
    padding-bottom: 40px;
}
ol.home-page-about-benefit li {
    list-style: '✓';
    font-size: 1rem;
    margin-left: 1rem;
}
::marker {
    color: var(--clr-primary);
  }
.home-page-about-main-div{
    display: flex;
}
.home-page-about-main-div > *{
    flex:1;
}
.home-page-about-image img{
    max-width: 100%;
}
@media (max-width:800px) {
    .home-page-about-main-div{
        flex-direction: column;
        align-items: center;
    }
}
/* about section */

/* why us section */

.home-page-why-us-subheading {
        font-size: 20px;
        font-weight: 400;
        color: var(--maincolor);
    }
.home-page-why-us-heading {
        font-size: 40px;
        font-weight: 500;
        margin: 10px 0px;
    }
.home-page-why-us-main-div, .home-page-why-us-content-card{
    display: flex;
    justify-content: space-evenly;
}
.home-page-why-us-main-div > *{
    flex:1;
}
.home-page-why-us-image img{
    max-width: 100%;
    object-fit: cover;
    height: 96%;
    width: 96%;
    border-radius: 2rem;
    margin-inline: auto;
}
.home-page-why-us-content-card{
    flex-wrap: wrap;
}
.home-page-why-us-ind-content-card{
    flex-grow: 0;
    flex-basis: 48%;
    /* flex: 40%; */
}
@media (max-width:800px) {
    .home-page-why-us-main-div,.home-page-why-us-content-card{
        flex-direction: column;
    }
}
/* why us section */


/* succcess stories */

.ind-success-stories {
    border: 1px var(--clr-primary) solid;
}
.ind-success-stories .card-text {
    font-size: 15px;
}

.ind-success-stories div h5.card-title {
    padding-block: 5%;
    text-align: center;
}

.client-detail{
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    flex-wrap: wrap;
}
.client-improvement{
flex-grow: 1;
flex-basis: 100%;
}
/* succcess stories */



/* keyfigure section */
.keyfigure-icon-section {
    width: 10rem;
    height: 10rem;
    background-color: var(--clr-secondary);
    border-radius: 100%;
    position: relative;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.keyfigure-icon-section svg{
    width: 4rem;
    position: absolute;
    top: 2.5em;
    left: 3em;
}
.keyfigure-content-section .plus:after {
    content: '+';
}
.keyfigure-figures-section {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    /* flex: 1; */
} 
.keyfigure-features-box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.keyfigure-main-div h2 {
    margin-bottom:5%;
}
@media (max-width:800px) {
    .keyfigure-features-box {
        flex-direction: column;
    }
    .keyfigure-figures-section {
    margin-block: 3%;
    }
}
/* keyfigure section */

section:first-of-type{
    margin-bottom: 40px;
}
section + section{
    margin-block: 50px;
}

footer {
    padding-top: 80px;
    background-color: var(--maincolor);
}
/* faq section */
.faq-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.faq-row div{
    flex-basis: 100%;
}
.faq-row {
    display: flex;
}


h2.faq-heading {
    text-align:center;
}
.single-accordion-item {
    border: 1px rgb(233, 233, 233) solid;
    margin: 1rem;

    box-shadow: 0px 0px 10px 1px  var(--maincolor);
}

.single-accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    font-size: 1rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
}
.single-accordion-button:after {
    flex-shrink: 0;
    width: 17px;
    height: 20px;
    margin-left: auto;
    content: "";
    background-image: url(/assets/images/plus-solid.svg);
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.single-accordion-button:not(.collapsed)::after {
    /* background-image: url(/assets/images/hamburger-close.svg); */
    transform: rotate(-135deg);
    transition: transform 0.3s ease-in-out;
}
.single-accordion-body{
    padding: 16px 20px;
}
@media (max-width:800px) {
    .faq-row {
        flex-direction:column;
    }
    .single-accordion{
        display:flex;
        flex-direction:column;
        
    }
}
.accordion-collapse{
    display: none;
}
/* faq section */



a.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: var(--anchorcolor);
    color: #fff;
    border: none;
    /* border-radius: 50%; */
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
  }

 html {
    scroll-behavior: smooth;
  }
a.backToTopBtn:hover {
    background-color: var(--secondarycolor);
}
.social-links{
    padding-top:20px;
}
.copyright-section.row {
    padding-top: 20px;
}
.social-links a.link {
    margin-inline: 5px;
}

/* home page start */


/* glide slider code */
.glide__arrow{
    background-color: skyblue;
    color: white;
    border: 1px #7e7e7e solid;
    border-radius:5px;
    padding: 9px 9px 5px 9px;
}
.glide__arrow svg{
    width: 1rem;
    height:1rem;
}
h4.client-name {
    margin: 1rem 0;
}
.client-detail {
   background-color: hsl(0, 0%, 96%)
}
.glide__arrow{
    position: relative;
}  
.glide__arrow {
    bottom: 103%;
}
.glide__arrow--left{
position:absolute;
left: 90%;;
}
.glide__arrow--right{
position:absolute;
left: 95%;
} 
.glide__arrow:hover{
    background-color: white;
}
@media (max-width:800px) {
    .glide__arrow{
        display: none;
    } 
}

.slider__bullets {
    display: flex;
    justify-content: center;
    list-style: none;
}
.slider__bullet {
    background-color: hsla(0, 0%, 45%, 0.5);
    width: 100%;
    /* height: 9px; */
    padding: 0;
    /* border-radius: 50%; */
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
    -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    margin: 0.25em 0;
}
.slider__bullet[class*=active] {
    background-color: var(--secondarycolor);
}
/* glide slider code */




#navbar .navbar-nav .nav-link {
    color: white;
}

p.card-text {
    margin-bottom: 1.5rem;
}
.card-body {
    text-align: center;
}

/* How can i Help */
 .home-page-how-can-i-help-main-div{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.home-page-how-can-i-help-card{
    flex: 40%;
    border-radius: 10px;
    border: 1px #e7e7e7  solid;
    padding: 1%;
    margin:1%
}
.home-page-how-can-i-help-card-img {
    width:7rem;
    object-fit: contain;
    margin-inline: auto;
}
.home-page-how-can-i-help-card {
    text-align: center;
}
@media (max-width:800px) {
    .home-page-how-can-i-help-main-div{
        flex-direction: column;
    }
    .home-page-how-can-i-help-card{
        flex: 50%;
    }
} 
/* How can i Help */


.card-content, .card-image {
    text-align: center;
}
/* step section */

.home-page-step-number {
    font-size: 10rem;
}
.home-page-steps {
    /* height:50vh; */
    display:flex;
    justify-content: space-evenly;
    position: relative;
}
.home-page-steps > * {
    flex: 33%;
}
.home-page-step-one {
    align-self:start;
}
.home-page-step-two {
    align-self:center;
}
.home-page-step-three {
    align-self:end;
}
.home-page-arrow-one img,
.home-page-arrow-two img {
    width: 10%;
} 
.home-page-arrow-one, .home-page-arrow-two {
    position: absolute;
} 
.home-page-arrow-one {
    top:30%;
    left:30%
} 
.home-page-arrow-two {
    top:66%;
    left:60%
} 
@media (max-width:800px) {
    .home-page-steps {
        flex-direction: column;
    }
    .home-page-steps > * {
        align-self: unset;
        flex: 100%;
        text-align: center;
        border: 1px rgb(197, 197, 197) solid;
        border-radius: 10px;
        padding-block: 6%;
    
    }
    .home-page-step-number {
        font-size: 50px;
    }
    .home-page-arrow-one, .home-page-arrow-two {
        position: unset;
        transform: rotate(45deg);
        border: unset;
    } 
    .home-page-arrow-one img, .home-page-arrow-two img{
        display: inline-block;
    }
} 
/* step section */

/* get started section */
section.get-started-section {
    text-align: center;
}
div.home-page-get-started-form
{
    display: block;
    text-align: center;
    border: 2px #98e2ff solid;
    border-radius: 10px;
    background: var(--maincolor);
    padding: 42px;
    box-shadow: 0px 10px 50px hsla(240,7%,62%,1);
}
div.home-page-get-started-form form
{
    display: inline-block;
    margin-inline:auto;
    text-align: left;
}
.form-label{
    margin: 0px 0px 8px;
}
.form-field{
    padding: 6px 12px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-clip: padding-box;
    appearance: none;
    border: 1px solid lightgrey;
    border-radius:.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-submit-button{
    text-align: center;
}
.form-submit-button button {
    background: rgb(74, 149, 247);
    border-radius: 10px;
    border: 0px black solid;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    margin-block: 2rem;
}
/* get started section */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.footer-wrapper div:last-child {
    text-align: end;
}
@media (max-width: 800px) {
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-wrapper div:last-child {
        text-align: center;
    }
  }
/* t and c */

div.heading h1 {
    text-align: center;
}
/* .content-t-and-c div h3, .content-privacy-policy div h3{
    margin:30px 0px 20px 0px;
} */
/*
.content-t-and-c div p, .content-privacy-policy div p{
    margin:20px 0px;
    text-align: justify;
} */
/* t and c */


.container-fluid.header-contact-info {
    display: flex;
    justify-content: space-between;
    padding-block: 5px;
    border-bottom: 1px white solid;
    background-color: var(--maincolor);
    font-size: 15px;
}
@media (max-width :800px) {
    .container-fluid.header-contact-info {
        display: none;
    }
    
}
.header-phone > * {
    margin-inline: 10px;
}
.footer-wrapper div ul li {
    margin-block:10px;
}
li.nav-item:last-child {
    background-color:var(--tertiarycolor);
    border-radius:10px;
    padding-inline:10px;
}

/* transformations page */

.gallery {
    padding-block: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.gallery > * {
flex-basis: 350px;
}
.gallery-image img {
object-fit: cover;
height: auto;
vertical-align: middle;
border-radius: 5px;
}
section.transformations-page-section div h1,section.transformations-page-section div p{
text-align:center;
}

/* transformations page */

/* our services program */
.services{
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    text-align: center;
}
.ind-services{
    flex: 1;
}
.services-image svg {
    max-width:20%;
}
.ind-services {
   margin-bottom:2rem;
}

@media (max-width:800px) {
    .services{
        flex-direction: column;
    }
}
/* our services program */

svg.svg-inline--fa.fa-phone, svg.svg-inline--fa.fa-whatsapp {
    width: 15px;
    height: 15px;
}




/* faq page*/

.heading-faq {
    background-image: url(/assets/images/for-faq.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: top bottom;
    height: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-faq h1{
    text-align: center;
    color: white;
}
.content-faq{
    padding: 50px 0px;
}
.accordion-button::after {

    background-image: url(/assets/images/plus-solid.svg);
    
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/plus-solid.svg);
    transform: rotate(315deg);
}
/* faq page*/

/* 404 page */

.four0four-content a{
    color:var(--clr-surface);
    background-color: var(--clr-tertiary);
    padding: 10px;
    border-radius:25px;
}
section.four0four-section {
    text-align:center;
}
.four0four-main-image {
    max-width: 100%;
    padding-block: 2%;
}
.four0four-content p{
    margin-bottom:20px;
}

/* 404 page */


/* about page css */
.training-philisophy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8%;
}

.ind-philosophy {
    flex-basis: 350px;
    text-align: center;
}

section.training-philisophy-section div h2 {
    text-align: center;
}

section.training-philisophy-section {
    background-color: var(--fgg);
}

.ind-philosophy {
    text-align: center;
    margin-block: 5%;
}

.about-intro-section {
    text-align: center;
}

.about-intro-section p {
    margin-block: 30px;
}
.ind-philosophy div svg{
    width:10%;
    height:10%;
}
.about-welcome-image{
    background-image: url(/assets/images/for-faq.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: top center;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .about-welcome-image {
        height:auto;
        min-height: 200px;
    }
  }

.about-page-profile-image img{
    max-width: 100%;
}  
.about-intro-section{
    display: flex;
}
@media (max-width: 1024px) {
    .about-intro-section {
      flex-direction: column;
    }
  }
.about-page-content{
    margin-inline: 5%;
    align-self: center;
}

/* aboutpage css */


/* our services page */


.ind-services-page{
    display: flex;
    align-items: center;
}
.ind-services-page:nth-child(even){
    flex-direction: row-reverse;
}
.ind-services-page > div {
    /*     flex-grow:1; */
        flex-basis: 100%;
    }
.services-image img{
    height: auto;
}

.ind-services-page{
    margin-block:4rem;
}
.content-service-page {
    align-self: center;
    padding-inline: 3rem;
}
.content-service-page  p{
    word-spacing:4px;
} 
.service-welcome-image {
    background-image: url(/assets/images/for-programs.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:800px) { 
    .ind-services-page:nth-child(even){
        flex-direction: column;
    }
    .ind-services-page{
        flex-direction: column;
    }
    .ind-services-page {
        margin-block: 3rem;
    }
    .content-service-page h3 {
        text-align: center;
    }
    .content-service-page {
        padding-inline: unset;
    }

}

/* our services page */


/* plans page  */
.plan-pricing-page-main-div, .home-page-plan-main-div {
    display: flex;
    justify-content: space-evenly;
}
h1.plan-pricing-page-heading, p.plan-pricing-page-content {
    text-align: center;
}
@media (max-width:800px) {
    .plan-pricing-page-main-div, .home-page-plan-main-div{
        flex-direction: column;
    }
    
}

.plans-pricing-welcome-image{
    background-image: url(/assets/images/for-pricing.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: top center;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-pricing-page-box, .home-page-plan-box{
    padding: 3%;
    margin: 3%;
    border: 1px #d5d5d5 solid;
    border-radius:10px;
    text-align: center;
}
.btn {
    padding:0.75em 1.5em;
    background-color: var(--clr-tertiary);
    color: var(--clr-surface);
    border:1px var(--clr-primary) solid;
    border-radius: 0.3em;
    
}
.btn:hover {
    background-color: var(--clr-surface);
    color: var(--clr-primary);    
}
.card-footer {
    margin-block: 2rem;
}
/* plans page */
