
/* Roots For Color and Fonts */

:root {
    /* Colors: */
    --maincolor: lightblue;
    --secondarycolor: rgb(55, 135, 254);
    --tertiarycolor: #30AAD7;
    --anchorcolor: cornflowerblue;
    /* Fonts */
    --mainfont: 'poppins';
    /* --mainFont: 'Calibre'; */
    /* --secondaryFont: "calluna"; */
    /* --barlowFont: 'Barlow Condensed', sans-serif; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    /* overflow-x: hidden; */
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea,
option {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0;
    font-weight: 300;
    font-family: var(--mainfont);
    color: var(--black);
}



/* h1,
.h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.56px;
    color: var(--whiteClr);
    font-weight: 500;
}

h2,
.h2 {
    font-size: 35px;
    letter-spacing: -0.35px;
    line-height: 35px;
    color: var(--whiteClr);
    font-weight: 500;
} */

/* h1 span,
.h1 span, */
/* h2 span, */
/* .h2 span {
    font-family: var(--secondaryFont);
    font-style: italic;
    color: var(--sky-blue);
    line-height: 0;
} */

/* h6,
.h6 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: var(--whiteClr);
} */

a {
    text-decoration: none;
    color: cornflowerblue;
}

/* root */


/* header */

a.nav-link {font-weight: 600;}
.nav-item a.nav-link {
    margin-inline: 10px;
    margin-block: 5px;
}
.navbar{
    background-color: var(--maincolor) !important;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
main {
    /* Add padding to the top of the content to prevent it from being hidden behind the header */
    padding-top: 110px;
     /* Adjust according to your header's height */
  }
/* header */

/* footer */

.copyright {
    text-align: center;
}
.footer-logo-img {
    max-width: 200px;
}
/* footer */

/* home page start */
.home-page-welcome-image img{
    height: 80vh;
    text-align: center;
    max-width: 100%;
}

h3.home-page-welcome-name {
    margin-top: 50px;
    font-size: 134px;
    font-weight: 500 ;
}
h2.home-page-welcome-quote{
    margin-top: 10px;
    margin-bottom: 44px;
}
.work-with-you {
    text-transform: uppercase;
    margin: 0 0 28px;
}
.home-page-welcome-learn-more {
    text-transform: uppercase;
    background-color: var(--maincolor);
    color: white;
    border: white;
}
.home-page-welcome-learn-more:hover {
    text-transform: uppercase;
    background-color: var(--secondarycolor);
    color: white;
    border: white;
}
.home-page-welcome-main-div{
    display: flex;
}
.home-page-welcome-main-div > *{
    flex: 1;
}
@media (max-width:800px) {
    .home-page-welcome-main-div{
        flex-direction: column;
    }
    h3.home-page-welcome-name {
        font-size: 65px;
    }
    .home-page-welcome-image{
        display: none;
    }
}
/* about section */

h2.home-page-about-heading {
    font-size: 40px;
    padding-bottom: 40px;
}
.home-page-about-content div > p {
    font-size: 18px;
    margin-bottom: 20px;
}
ol.home-page-about-benefit li {
    list-style: '✓';
    font-size: 16px;
}
.home-page-about-main-div{
    display: flex;
}
.home-page-about-main-div > *{
    flex:1;
}
.home-page-about-image img{
    max-width: 100%;
}
@media (max-width:800px) {
    .home-page-about-main-div{
        flex-direction: column;
        align-items: center;
    }
}
/* about section */

/* why us section */


.col-log-6.why-us-left, .col-log-6.why-us-right {
    max-width: 50%;
    }
.row.why-us-left .col-log-6 {
        max-width:50%;
        padding: unset;
    }
.why-us-subheading {
        font-size: 20px;
        color: lightblue;
    }
.why-us-heading {
        font-size: 40px;
        margin: 10px 0px;
    }

/* why us section */


/* succcess stories */

.ind-success-stories {
    border: 1px grey solid;
    border-radius: 5%;
  overflow:hidden;
  padding-bottom: 5%;
}
.ind-success-stories .card-text {
    font-size: 15px;
}

.ind-success-stories div h5.card-title {
    padding-block: 5%;
    text-align: center;
}

/* succcess stories */



/* keyfigure section */

.keyfigure-content-section .plus:after {
    content: '+';
}
.keyfigure-figures-section {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    /* flex: 1; */
} 
.keyfigure-features-box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.keyfigure-main-div h2 {
    margin-bottom:5%;
}
@media (max-width:800px) {
    .keyfigure-features-box {
        flex-direction: column;
    }
    .keyfigure-figures-section {
    margin-block: 3%;
    }
}
/* keyfigure section */

section:first-of-type{
    margin-bottom: 40px;
}
section:not(:first-of-type){
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    padding-top: 80px;
    background-color: var(--maincolor);
}

.row.faq-row {
    padding-top: 20px;
    padding-bottom: 20px;
}


h2.faq-heading {
    text-align:center;
}




a.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--anchorcolor);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

 html {
    scroll-behavior: smooth;
  }
a.backToTopBtn:hover {
    background-color: var(--secondarycolor);
}
.social-links{
    padding-top:20px;
}
.copyright-section.row {
    padding-top: 20px;
}
.social-links a.link {
    margin-inline: 5px;
}
button.splide__arrow.splide__arrow--prev {
    position: absolute;
    left: -71px;
}

button.splide__arrow.splide__arrow--next {
    position: absolute;
    right: -71px;
}

/* home page start */


/* glide slider code */
.glide__arrow{
    font-size:80px;
    position: relative;
}    
.glide__arrow {
    top: 40%;
}
.glide__arrow--left{
position:absolute;
right: 100%;;
}
.glide__arrow--right{
position:absolute;
left: 100%;
}
@media (max-width:800px) {
    .glide__arrow--left{
    position:absolute;
    right: 100%;;
    }
    .glide__arrow--right{
    position:absolute;
    left: 100%;
    }
}
/* glide slider code */

/* plan section*/
.card-footer {
    text-align: center;
}
.home-page-plan-main-div {
    display: flex;
    justify-content: space-around;
}
.home-page-plan-box {
    padding: 15px;
    margin-block: 5%;
    border: 1px #d5d5d5 solid;
    border-radius:10px;
}
h3.card-title.home-page-plan-name {
    text-align: center;
    padding-top: 40px;
}
.home-page-plan-box .card-footer{
    margin-block: 5%;
}
@media (max-width:800px) {
    .home-page-plan-main-div {
        flex-direction: column;
    }
    .home-page-plan-box {
        margin-block: 5%;
    }
}
/* plan section*/



.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/* swiper code */


#navbar .navbar-nav .nav-link {
    color: white;
}

p.card-text {
    margin: 0px 0px 20px;
    text-align: center;
}

/* How can i Help */
.home-page-how-can-i-help-main-div{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.home-page-how-can-i-help-card{
    flex: 40%;
    border-radius: 10px;
    border: 1px #e7e7e7  solid;
    padding: 3%;
    margin:1%
}
.home-page-how-can-i-help-card-img {
    width:10%;
    height: auto;
}
.home-page-how-can-i-help-card {
    text-align: center;
}
.home-page-how-can-i-help div.card-body{
    height: 200px;
}
@media (max-width:800px) {
    .home-page-how-can-i-help-main-div{
        flex-direction: column;
    }
    .home-page-how-can-i-help-card{
        flex: 50%;
    }
}
/* How can i Help */


.card-content, .card-image {
    text-align: center;
}
.step-number {
    font-size: 200px;
}
.steps {
    height:60vh;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
.steps > * {
    width: 33%;
}
.step-one {
    align-self:start;
    /* border:#000 solid; */
}
.step-two {
    align-self:center;
    /* border:#f36363 solid; */
}
.step-three {
    align-self:end;
    /* border:hsl(123, 100%, 54%) solid; */
}
.arrow-one img,
.arrow-two img {
    width: 10%;
} 
.arrow-one, .arrow-two {
    position: absolute;
} 
.arrow-one {
    top:30%;
       left:30%
   } 
   .arrow-two {
       top:66%;
       left:60%
   } 
   .steps.row {
    margin-top: 100px;
}

div.form
{
    display: block;
    text-align: center;
    border: 2px #98e2ff solid;
    border-radius: 10px;
    background: var(--maincolor);
    padding: 42px;
    box-shadow: 0px 10px 50px hsla(240,7%,62%,1);
}
div.form form
{
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline:auto;
    text-align: left;
}
p.contact-us-para, h2.contact-us-heading {
    text-align: center;
}

.form-submit-button{
    text-align: center;
}
button.btn.btn-primary {
    padding: 10px 50px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
@media (max-width: 800px) {
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

.header-logo{
  position: sticky;
  opacity: 70%;
  }
/* t and c */

div.heading h1 {
    text-align: center;
    font-size: 76px;
    padding-block: 1em;
}
.content-t-and-c div h3, .content-privacy-policy div h3{
    margin:30px 0px 20px 0px;
}
.content-t-and-c div p, .content-privacy-policy div p{
    margin:20px 0px;
    text-align: justify;
}
/* t and c */

/* faq */

.heading-faq {
    background-image: url(/assets/images/for-faq.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: top bottom;
    height: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-faq h1{
    text-align: center;
    color: white;
}
.content-faq{
    padding: 50px 0px;
}
.accordion-button::after {

    background-image: url(/assets/images/plus-solid.svg);
    
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/plus-solid.svg);
    transform: rotate(315deg);
}
/* faq */
.container-fluid.header-contact-info {
    display: flex;
    justify-content: space-between;
    padding-block: 5px;
    border-bottom: 1px white solid;
    background-color: var(--maincolor);
    font-size: 15px;
}
.header-phone > * {
    margin-inline: 10px;
}
.footer-wrapper div ul li {
    margin-block:10px;
}
li.nav-item:last-child {
    background-color:var(--tertiarycolor);
    border-radius:10px;
    padding-inline:10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.gallery > * {
flex-basis: 350px; 
/* width: 350px; */
}
.gallery-image img {
object-fit: cover;
max-width: 100%;
height: auto;
vertical-align: middle;
border-radius: 5px;
}
section.transformations-page-section div h1,section.transformations-page-section div p{
text-align:center;
padding-block:10px;
}
section.transformations-page-section div h1{
padding-block:100px;
}
/* our services program */
.services{
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    text-align: center;
}
.ind-services{
    flex: 1;
}
@media (max-width:800px) {
    .services{
        flex-direction: column;
    }
}
/* our services program */