
/* Roots For Color and Fonts */

:root {
    /* Colors: */
    --fgx: #5C489D;
    --fgg: #30AAD7;
    --wam-gradient_navy: #153A6F;
    --wam-gradient_dark-navy: #0F2243;
    --gray70: #707070;
    --wam-navy-tint: #E8EBF0;
    --sky-blue: #8ABEE6;
    --wam-navy: #143C6E;
    --wam-navy-700: #153A6E;
    --whiteClr: #FFFFFF;
    --gray7d: #7D858D;
    --wam-green: #007765;
    --lightPink: #D2769B;
    --lightBrown: #AF3C46;
    --orange: #FE7E52;
    --alternative: #EF855D;
    --research: #C9819A;
    --slatyClr: #8C88C1;
    --lightBlue: #336EB8;
    --greenClr: #009485;
    --active: #63C6BD;
    --skyClr: #35C5EC;
    --strategic: #8A71B2;
    --sky-tint: #E2EFF9;
    --sky-tint-500: #96BEE3;
    --black: #000;
    /* Fonts */
    --mainfont: 'poppins';
    /* --mainFont: 'Calibre'; */
    /* --secondaryFont: "calluna"; */
    /* --barlowFont: 'Barlow Condensed', sans-serif; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    /* overflow-x: hidden; */
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea,
option {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0;
    font-weight: 300;
    font-family: var(--mainfont);
    color: var(--black);
}



/* h1,
.h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.56px;
    color: var(--whiteClr);
    font-weight: 500;
}

h2,
.h2 {
    font-size: 35px;
    letter-spacing: -0.35px;
    line-height: 35px;
    color: var(--whiteClr);
    font-weight: 500;
} */

/* h1 span,
.h1 span, */
/* h2 span, */
/* .h2 span {
    font-family: var(--secondaryFont);
    font-style: italic;
    color: var(--sky-blue);
    line-height: 0;
} */

/* h6,
.h6 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: var(--whiteClr);
} */

a {
    text-decoration: none;
    color: cornflowerblue;
}

/* root */


/* header */

a.nav-link {font-weight: 600;}
a.nav-link {
    margin: 15px;
}
.navbar{
    background-color: lightblue !important;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
main {
    /* Add padding to the top of the content to prevent it from being hidden behind the header */
    padding-top: 85px; /* Adjust according to your header's height */
  }
/* header */

/* footer */

.copyright {
    text-align: center;
}
.footer-logo-img {
    max-width: 200px;
}
/* footer */

/* home page start */
h3.welcome-name {
    margin-top: 50px;
    font-size: 134px;
    font-weight: 500 ;
}
h2.welcome-quote{
    margin-top: 10px;
    margin-bottom: 44px;
}
.work-with-you {
    text-transform: uppercase;
    margin: 0 0 28px;
}
.welcome-learn-more {
    text-transform: uppercase;
    background-color: lightskyblue;
    color: white;
    border: white;
}
.welcome-learn-more:hover {
    text-transform: uppercase;
    background-color: darkblue;
    color: white;
    border: white;
}

section:nth-child(odd){
    background-color:#efefef
}
h2.about-heading {
    font-size: 40px;
    padding-bottom: 40px;
}
p.para-1, .para-2, .para-3, .para-4 {
    font-size: 18px;
    margin-bottom: 20px;
}
ol.about-benefit li {
    list-style: '✓';
    font-size: 16px;
}
.footer-wrapper.row .col-sm-4:first-child {
      text-align: left; 
    }
.footer-wrapper.row .col-sm-4:last-child {
    text-align: right; 
    }
.footer-wrapper.row .col-sm-4:not(:first-child):not(:last-child) {
    text-align: center; 
    }
.col-log-6.why-us-left, .col-log-6.why-us-right {
    max-width: 50%;
    }
.row.why-us-left .col-log-6 {
        max-width:50%;
        padding: unset;
    }
.why-us-subheading {
        font-size: 20px;
        color: lightblue;
    }
.why-us-heading {
        font-size: 40px;
        margin: 10px 0px;
    }
.card-text{
    font-size: 15px;
}    
.row.why-us-main-row {
    margin-top: 20px;
    margin-bottom: 20px;
}
h5.card-title {
    padding-bottom: 20px;
    padding-top: 0px;
}



 .keyfigure-section .figures-section .content-section .plus:after {
    content: '+';
}
.figures-section {
    text-align: center;
} 
.features-box{
    display: flex;
    justify-content: space-evenly;
}
section:first-of-type{
    margin-bottom: 40px;
}
section:not(:first-of-type){
    padding-top: 40px;
    padding-bottom: 40px;
}
.features-box h2 {
    text-align:center;
    margin-bottom:20px;
    /* padding-bottom:20px; */
}
footer {
    padding-top: 80px;
    background-color: lightblue;
}

.row.faq-row {
    padding-top: 20px;
    padding-bottom: 20px;
}


h2.faq-heading {
    text-align:center;
}




a.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

 html {
    scroll-behavior: smooth;
  }
a.backToTopBtn:hover {
    background-color: darkblue;
}
.social-links{
    padding-top:20px;
}
.copyright-section.row {
    padding-top: 20px;
}
.social-links a.link {
    margin-left: 10px;
}
button.splide__arrow.splide__arrow--prev {
    position: absolute;
    left: -71px;
}

button.splide__arrow.splide__arrow--next {
    position: absolute;
    right: -71px;
}

/* home page start */


/* glide slider code */
.glide__arrow{
    font-size:80px;
    }    
.glide__arrow--left{
position:absolute;
    bottom:300px;
    left: -64px;
}
.glide__arrow--right{
position:absolute;
    bottom:300px;
    right: -64px;
}
.card-footer {
    text-align: center;
}
.plan-main-div {
    display: flex;
    justify-content: space-around;
}
.plan-box {
    padding: 15px;
    border: 1px #d5d5d5 solid;
    border-radius:10px;
}
.card {
    margin-bottom: 1px;
}
/* glide slider code */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/* swiper code */


#navbar .navbar-nav .nav-link {
    color: white;
}

p.card-text {
    margin: 0px 0px 20px;
    text-align: center;
}
h5.card-title.plan-name {
    text-align: center;
}

 img.card-img-top.how-can-i-help {
    width:10%;
    height: auto;
}
.how-can-i-help div.card-body{
    height: 200px;
}
.card-content, .card-image {
    text-align: center;
}
h5.card-title.plan-name {
    padding-top: 40px;
}
/* bootstrap accordion code */
 /* .accordion-button::after {
    background-image: url(https://creativemill.wilsonassetmanagement.com.au/wp-content/uploads/2023/05/Group-1902.svg);
    width: 38px;
    height: 20px;
    background-position: center right;
}
.accordion-button:not(.collapsed)::after {
    background-image:  url(https://creativemill.wilsonassetmanagement.com.au/wp-content/uploads/2023/05/Group-2023.svg);
    transform: unset;
}
.accordion-button:not(.collapsed) {
    background-color: white;
    }
.accordion-item {
    margin-bottom:40px;
    border: 0;
    border-radius: 0;
}
.accordion button[aria-expanded=true] .icon {
    transform: rotate(315deg);
} */

/* .step-one {
    position: relative;
    margin-top: 100px;
    top: 0;
    left: 0; 
    max-width: 33%;
}
.step-two {
  position: relative;
    left: 33%;  
    max-width: 33%;
}
.step-three {
     position: relative;
    left: 66%;
    max-width: 33%; 
}
.step-number {
    font-size: 200px;
}
.arrow-one img,
.arrow-two img {
    width: 10%;
} 
.arrow-one, .arrow-two {
    position: relative;
    left: 80%;
}    */



.step-number {
    font-size: 200px;
}
.steps {
    height:60vh;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
.steps > * {
    width: 33%;
}
.step-one {
    align-self:start;
    /* border:#000 solid; */
}
.step-two {
    align-self:center;
    /* border:#f36363 solid; */
}
.step-three {
    align-self:end;
    /* border:hsl(123, 100%, 54%) solid; */
}
.arrow-one img,
.arrow-two img {
    width: 10%;
} 
.arrow-one, .arrow-two {
    position: absolute;
} 
.arrow-one {
    top:30%;
       left:30%
   } 
   .arrow-two {
       top:66%;
       left:60%
   } 
   .steps.row {
    margin-top: 100px;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline:auto;
    text-align: left;
}
p.contact-us-para, h2.contact-us-heading {
    text-align: center;
}
.welcome-image{
    height: 80vh;
    text-align: center;
}
.form-submit-button{
    text-align: center;
}
button.btn.btn-primary {
    padding: 10px 50px;
}